* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;

  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.hero_box {
  position: relative;
  .toggle_menu,
  .logo-dark {
    display: none;
  }

  .bg-img-nav img {
    width: 100%;
    max-width: 100%;
  }
  .navation--inner {
    padding: 25px 0px 25px 0px;
    border-bottom: 1px solid #abb0b4;
  }
  &-navation {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .nav-menu li {
      float: left;
      list-style: none;
    }
    .nav-menu a,
    .nav-social a {
      font-weight: 600;
      color: #ffff;
      margin-left: 20px;
    }
    .nav-social li {
      float: right;
      list-style: none;
    }
    .nav-social i {
      border-right: 2px solid #ffff;
      margin-right: 8px;
      padding-right: 8px;
    }
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .nav_btn-style {
      background-color: #a1af7c;
      border: none;
      border-radius: 20px;
    }
    .nav_btn-size {
      width: 170px;
      height: 40px;
      cursor: pointer;
    }
    &--flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}
.no-line {
  text-decoration: none;
}
.fcolor-white {
  color: #ffff;
}
.fcolor-black {
  color: #000000;
}
.fcolor-grey {
  color: #5e5e5e;
}
.fsize-10 {
  font-size: 10px;
}
.fsize-12 {
  font-size: 12px;
}

.fsize-18 {
  font-size: 18px;
}
.fsize-24 {
  font-size: 24px;
}
.fsize-36 {
  font-size: 36px;
}
.fsize-60 {
  font-size: 60px;
}
.fsize-120 {
  font-size: 120px;
}
.t-align--center {
  text-align: center;
}
.fweight-600 {
  font-weight: 600;
}

.container {
  padding: 100px 0px 100px 0px;
  &_intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
    &-hidden {
      display: none;
    }
  }
  &_sevicer {
    .text_sevicer {
      text-align: center;
      margin-bottom: 50px;
      &-ft {
        width: 20%;
        margin: auto;
        padding-top: 50px;
      }
      button {
        background-color: transparent;
        width: 180px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid gray;
        margin-top: 30px;
      }
      button.btn-hover:hover {
        background-color: #000000;
        color: #ffffff;
      }
    }
    .item_sevicer {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      .box-item {
        width: 350px;
        height: 380px;
        background-color: #ffffff;

        .item-img {
          position: relative;
          height: 50%;

          img {
            max-height: 100%;
            width: 100%;
          }
          .box-item--affter::after {
            content: url(./img/ruler-pencil-svgrepo-com.png);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .item-text {
          width: 70%;
          margin: auto;
          text-align: center;
          h2,
          p {
            margin-top: 20px;
          }
          a {
            display: inline-block;
            margin-top: 30px;
          }
        }
      }
    }
  }
  &_gallery {
    .text_gallery {
      .flex {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
      }
    }
    .text_gallery li {
      list-style: none;
    }
    .img_gallery {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 20px;
      .item_gallery-img {
        position: relative;
        width: 30%;
      }
      .img_gallery-overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: rgb(52, 52, 52);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        .img_gallery--text {
          color: white;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
        }
        .img_gallery--text-2 {
          color: white;
          font-size: 10px;
          position: absolute;
          top: 150%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
          margin-top: 10px;
        }
      }
      .item_gallery-img:hover .img_gallery-overlay {
        bottom: 0;
        height: 100%;
      }
      .item_gallery-img img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .img_team-hidden {
      display: none;
    }
    .img_team {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-top: 30px;

      &-item img {
        width: 400px;
      }
    }
    .text_gallery-mg {
      margin-top: 30px;
    }
  }
  &_social {
    .icon_social {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      &-item {
        text-align: center;
        p {
          margin-top: 10px;
        }
      }
    }
  }
  &_map {
    iframe {
      width: 100%;
      height: 390px;
    }
  }
}
.icon-box {
  text-align: center;
  img {
    padding: 50px;
  }
}
.container_bg-color {
  background-color: #f2f3eb;
}
.footer {
  position: relative;
  background-color: #000000;
  &_contact {
    &-nav,
    &-list {
      padding-left: 180px;
    }
    &-nav li,
    &-list li {
      display: inline-block;
      margin-left: 20px;
      font-weight: 600;
    }
    &-list {
      padding-top: 20px;
    }
  }
  &_info {
    position: absolute;
    right: 150px;
    top: 80px;
    text-align: right;
    a {
      color: #c0d296;
    }
    .margin-tf {
      margin: 10px 0px 10px 0px;
    }
    img.logo-white {
      display: none;
    }
  }
}
.back-top {
  .fa-circle-chevron-left {
    color: #c0d296;
    position: fixed;
    bottom: 50px;
    right: 30px;
  }
}
.slideshow-container {
  .hidden,
  .prev,
  .next {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .hero_box {
    &-header {
      &--mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .tg-menu {
          display: block;
          width: 25px;
          height: 3px;
          background-color: #000000;
        }
        .toggle_menu,
        .logo-dark {
          display: block;
          margin: 10px 15px 10px 15px;
          cursor: pointer;
        }
        .toggle_menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
        }
      }
      &--mobile button {
        background-color: transparent;
        border: none;
      }
    }
    &-navation {
      display: block;
      .nav-menu {
        background-color: #000000;
      }
      .conten-menu,
      .nav-logo,
      .nav-social {
        display: none;
      }
      .nav-menu {
        li {
          float: none;
          padding: 15px;
          cursor: pointer;
        }
        li:hover {
          background-color: #a1af7c;
        }
        a {
          font-size: 12px;
        }
      }
    }
    .navation--inner {
      border: none;
      padding: 0;
      position: absolute;
      z-index: 1;
    }
    .bg-img-nav {
      height: 400px;
      img {
        height: 100%;
      }
    }
    &-content {
      gap: 15px;
      top: 60%;
      .nav_btn-size {
        width: 150px;
        height: 35px;
      }
    }
  }
  .rp_fsize-12 {
    font-size: 12px;
  }
  .rp_fsize-14 {
    font-size: 14px;
  }
  .rp_fsize-16 {
    font-size: 16px;
  }
  .rp_fsize-48 {
    font-size: 48px;
  }
  .container_rp-w,
  .container_sevicer .item_sevicer .box-item,
  .container_sevicer .text_sevicer-ft {
    width: 95vw;
  }
  .line_h--15 {
    line-height: 1.5;
  }
  .container {
    padding: 50px 0px 50px 0px;
    &_intro-rp {
      display: none;
    }
    &_intro-hidden {
      display: inline;
    }
    &_gallery {
      .img_gallery {
        .item_gallery-img {
          width: 100%;
        }
      }
      .img_team-acctive {
        display: none;
      }
      .img_team-hidden {
        display: block;
      }
    }
    &_sevicer {
      .item_sevicer {
        gap: 10px;
      }
    }
  }
  .icon-box {
    display: none;
  }
  .footer {
    padding: 20px;
    height: 500px;
    &_contact-nav,
    &_contact-list {
      padding: 0;
      li {
        display: block;
        margin: 0;
      }
    }
    &_contact-list {
      margin-top: 30px;
    }
    &_contact-nav {
      li {
        margin-top: 20px;
      }
    }
    &_contact-list {
      li {
        margin-top: 10px;
      }
    }
    &_info {
      right: 0;
      top: 50px;
      text-align: left;
      position: relative;

      img.logo-dark {
        display: none;
      }
      img.logo-white {
        display: block;
      }
    }
  }

  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    .hidden,
    .prev,
    .next {
      display: block;
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
      background-color: #717171;
    }
  }
  .hidden {
    text-align: center;
    margin-top: 15px;
    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active,
    .dot:hover {
      background-color: #717171;
    }
  }
  .hero_sticky {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 820px) {
  .rpTb_fsize-14 {
    font-size: 14px;
  }
  .rpTb_fsize-16 {
    font-size: 16px;
  }
  .rpTb_fsize-68 {
    font-size: 68px;
  }

  .hero_box {
    &-navation {
      display: flex;
      flex-direction: row-reverse;
      .nav-social {
        display: none;
      }
    }
    &-content {
      &--flex {
        margin-top: 20px;
      }
    }
  }
  .container {
    &_sevicer {
      .item_sevicer {
        justify-content: space-evenly;
        gap: 10px;
        flex-wrap: nowrap;
      }
      .text_sevicer-ft {
        width: 50%;
      }
    }
    &_gallery {
      .img_team-item {
        img {
          width: 250px;
          max-width: 100%;
        }
      }
    }
  }
  .icon-box {
    display: none;
  }
  .footer {
    &_contact {
      &-nav,
      &-list {
        padding-left: 10px;
        li {
          display: block;
        }
      }
    }
    &_info {
      right: 50px;
      top: 50px;
      img.logo-white {
        display: block;
        margin: 40px;
      }
      img.logo-dark {
        display: none;
      }
    }
  }
}
